body{
    background-color: #29363C;
    font-family: JetBrains Mono ;
}

.container{
    background-color: #22262B;
    color: white;
    width: 60vw;
    height: 50vh;
    margin: 20vh 20vw;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

h1{
    font-size: 48px;
    font-weight: 500;
    color: white;
    border-bottom: solid #428DA5;
}
